# If-Else

In [25]:
x = -3
if x > 0:
    print("Value is positive")

elif x < 0:
    print("Value is negative")

else:
    print("Value is zero")

Value is negative

In [9]:
x = 59
if x < 10:
    s = "Yes"
else:
    s = "No"
print(s)

No

In [10]:
x = ''      # An empty string 
y = ['s']   # A list with one item 
if x:
    print("x is true")
else: 
    print("x is false")     

if y:
    print("y is true")
else:
    print("y is false")

x is false
y is true

In [11]:
x = [58, 42, 84, 17]
y = x[:] # y is a copy of x
z = x 
print(x)
print("Are values of y and x the same?", y == x)
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)
# Let's change x
x[1] = 23
print(x)
print("Are values of y and x the same?", y == x)  
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)

[58, 42, 84, 17]
Are values of y and x the same? True
Are objects y and x the same? False
Are values of z and x the same? True
Are objects z and x the same? True
[58, 23, 84, 17]
Are values of y and x the same? False
Are objects y and x the same? False
Are values of z and x the same? True
Are objects z and x the same? True

In [12]:
name = "Smita"
mark = 85

if mark < 45:
    print(name, "has failed in the exam")
        
elif mark > 45:
    print(name, "has passed in the exam")
        
else:
    pass

Smita has passed in the exam

# Tuple

In [13]:
a = (10, 62, 58, 90) # tuple of 4 integers
b = () # empty tuple
c = ("Sam",) # tuple of a single string (note the trailing ",")
d = (12, 7, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(10, 62, 58, 90)
()
('Sam',)
(12, 7, False, 'Arg', None)

In [16]:
x = 1.5
y = -0.3
z = 0.8
t = (x, y, z)

print(t)

(1.5, -0.3, 0.8)

In [18]:
t = 2, 3, 4, 7 # tuple packing
print('t is', t)
a, b, c ,d = t # tuple unpacking
print('a is', a)
print('b is', b)
print('c is', c)
print('d is', d)

t is (2, 3, 4, 7)
a is 2
b is 3
c is 4
d is 7

# List

In [ ]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

In [20]:
a = (1, 3, 7, 19)     # A tuple of numbers
b = ['A','B','C','d'] # A list of characters
print(a)
print(b)
l = list(a)   # Make a list based on a tuple 
print(l)
t = tuple(b)  # Make a tuple based on a list
print(t)

(1, 3, 7, 19)
['A', 'B', 'C', 'd']
[1, 3, 7, 19]
('A', 'B', 'C', 'd')

In [19]:
matrix = [[input(),input()], [input(),input()]] #list of list or nested list
print(matrix)

p
st
cd
r
[['p', 'st'], ['cd', 'r']]

In [2]:
x=input("Enter a number:")
y=int(x[::-1]) # Reverse a number by slicing 
print(y)

Enter a number:54
45

In [3]:
n =  int(input("Enter number of elements of list:"))
my_list= []
print("Enter the elements of list:")
for i in range(n):
    element = int(input())
    my_list.append(element)
print("Elements in list")
print(my_list) 
for element in my_list:
    if(element%5==0):
        print(element) # display elements of list which are divisible by 5

Enter number of elements of list:4
Enter the elements of list:
15
9
35
7
Elements in list
[15, 9, 35, 7]
15
35

# String

In [22]:
text = "Sameekhya"
print(text[0])
print(text[-2])
print(text[0:5])
print("Sam" in text)
print("hya" in text)
print(len(text))

S
y
Samee
True
True
9

In [23]:
string = "Hello World"
words = string.split(" ")
print(words)
letters = list(string) # a tuple of character converted into a list
print(letters)

['Hello', 'World']
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [1]:
s=input("Enter a string:")
s1=input("Enter a substring:")
x=s.count(s1)
print(x)

Enter a string:the students are the jewels
Enter a substring:the
2